*,
*:before,
*:after {
   box-sizing: border-box;
}

/* Shared */

body {
  color: #fff;
  font-family: 'Archivo Narrow', sans-serif;
}

a {
}

a:visited {
  color: #fff;
}

h1 {
  font-weight: 700;
  font-size: 100px;
}

h2 {
  font-size: 30px;
}

.circle {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #fff;
}


/* Title Screen */

.title-screen {
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  min-width: 1050px;
  min-height: 600px;
  background: url("../images/7.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
}

.title-text-container {
  position: relative;
  top: 9%;
  transform: translateY(-50%);
}

.title-text-container div {
  display: inline-block;
  white-space: nowrap;
}

.title-screen-name {
  margin-bottom: 20px;
  margin-right: 15px;
}


/* About Me */


/* Contact */

#contact-tab {
  position: absolute;
  top: 90%;
  left: 50%;
  display: inline;
  height: 30px;
}

.contact-title {
  margin-left: 40px;
  font-size: 25px;
  line-height: 30px;
}

.contact-page {
  position: absolute;
  top: 40px;
  right: 40px;
  bottom: 100px;
  left: 40px;
  background: rgba(0,0,0,0.7);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-photo img {
  width: 350px;
  height: auto;
  border: 8px solid white;
}

.profile-photo {
  margin-right: 70px;
}

.profile-photo, .contact-text-container {
  display: inline-block;
}

.email, .github {
  font-size: 30px;
}

.email {
  margin-bottom: 20px;
}