*,
*:before,
*:after {
   box-sizing: border-box;
}

/* Shared */

body {
  color: #fff;
  font-family: 'Archivo Narrow', sans-serif;
  font-stretch: expanded;
}

a {
}

a:visited {
  color: #fff;
}

a:hover, a:active, a:focus {
  cursor: pointer;
}

.btn:hover, .btn:active, .btn:focus {
  background: rgba(0,0,0,0.5);
  cursor: pointer;
}

h1 {
  font-weight: 700;
  font-size: 100px;
}

h2 {
  font-size: 60px;
  text-transform: uppercase;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
  line-height: 40px;
}

li {
  margin-top: 10px;
  font-size: 30px;
}

.circle {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.tab {
  position: absolute;
  display: inline;
  height: 40px;
}


.page {
  position: absolute;
  top: 40px;
  right: 40px;
  bottom: 100px;
  left: 40px;
  min-height: 600px;
  background: rgba(0,0,0,0.7);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 26px;
}


/* Title Screen */

.title-screen {
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  min-width: 1050px;
  min-height: 600px;
  background: url("../images/1.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
}

.title-text-container {
  position: relative;
  top: 9%;
  transform: translateY(-50%);
}

.title-text-container div {
  display: inline-block;
  white-space: nowrap;
}

.title-screen-name {
  margin-bottom: 20px;
  margin-right: 15px;
}

/* Return */

.return {
  position: absolute;
  top: 90%;
  width: 100%;
  text-align: center;
}

.return-text {
  display: inline-block;
  padding: 2px 10px;
  border: 2px solid #fff;
}



/* About Me */

#about-tab {
  top: 35%;
  left: 20%;
}

.about-title {
  margin-left: 45px;
}

.about-page {
  padding: 60px;
}

.about-text-container {
  text-align: left;
}

.profile-photo img {
  width: 320px;
  height: auto;
  border: 8px solid white;
}

.profile-photo {
  margin-right: 40px;
}

.about-text-container, .profile-photo  {
  display: inline-block;
}



/* Skills */

#skills-tab {
  top: 60%;
  left: 20%;
}

.skills-title {
  margin-left: 45px;
}

.skills-languages, .skills-tools {
  float: left;
  text-align: left;
  vertical-align: middle;
}

.skills-languages {
  margin-right: 200px;
}



/* Projects */

#projects-tab {
  top: 35%;
  left: 70%;
}

.projects-title {
  margin-left: 45px;
}

.projects-page-wrapper {
  text-align: center;
}

.arrow {
  border: solid #fff;
  border-width: 0 9px 9px 0;
  padding: 9px;
  vertical-align: middle;
}

.arrow:hover {
  cursor: pointer;
}

.projects-page-prev-arrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.projects-page-next-arrow {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.projects-page-column {
  display: inline-block;
  vertical-align: middle;
}

.projects-page-slide-container {
  position: relative;
  width: 700px;
  height: 500px;
  text-align: center;
  overflow: hidden;
}

.projects-page-slide { 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  margin: auto;
  width: 670px;
  height: 470px;
}

.projects-page-slide img {
  max-width: 670px;
  max-height: 470px;
  width: 100%;
  height: 100%;
}

.projects-page-circles {
  margin-top: 20px;
}

.projects-page-circle {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 15px;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 0;
}

.projects-page-circle:last-child {
  margin-right: 0;
}

.projects-page-circle:hover {
  cursor: pointer;
}

.active-projects-page-circle {
  background: #fff;
}


/* Artwork */

#artwork-tab {
  top: 60%;
  left: 70%;
}

.artwork-title {
  margin-left: 45px;
}


/* Contact */

#contact-tab {
  top: 80%;
  left: 48%;
}

.contact-title {
  margin-left: 45px;
}

.contact-text-container {
  display: inline-block;
}

.email, .github {
  font-size: 30px;
}

.email {
  margin-bottom: 20px;
}