*,
*:before,
*:after {
   box-sizing: border-box;
}

/* Shared */

body {
  color: #fff;
  font-family: 'Archivo Narrow', sans-serif;
  /*font-stretch: expanded;*/
}

a:visited {
  color: #fff;
}

a:hover, a:active, a:focus {
  cursor: pointer;
}

.btn:hover, .btn:active, .btn:focus {
  cursor: pointer;
}

h1 {
  font-weight: 700;
  font-size: 120px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 30px;
  line-height: 40px;
}


.page {
  position: absolute;
  top: 40px;
  right: 40px;
  bottom: 40px;
  left: 40px;
  z-index: 2;
  min-height: 600px;
  background: rgba(0,0,0,0.7);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 26px;
}


/* Backdrop */

.backdrop {
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: -1;
  min-width: 1050px;
  min-height: 600px;
  background: url("../images/2.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
}


/* Main Content */

.main-content {
  position: relative;
  display: block;
  top: 150px;
  width: 100%;
  text-align: center;
}


/* Header */

header {
  position: relative;
  display: block;
  margin-bottom: 75px;
}

.title-name {
  margin-bottom: 10px;
}



/* Navbar */

.navbar {
  position: relative;
  display: block;
  z-index: 1;
}

.navbar li {
  display: inline-block;
  margin-right: 50px;
}

.navbar li:last-child {
  margin-right: 0;
}

.btn-logo {
  position: relative;
  width: 130px;
  height: 130px;
}

.nav-title {
  display: none;
  position: absolute;
  width: 130px;
  text-align: center;
}


/* Return */

.return {
  position: absolute;
  top: 90%;
  width: 100%;
  text-align: center;
}

.return-text {
  display: inline-block;
  padding: 2px 10px;
  border: 2px solid #fff;
}

.return-text:hover {
  background: rgba(0,0,0,0.5);
}



/* About Me */

.about-page {
  padding: 60px;
}

.about-text-container {
  text-align: left;
}

.profile-photo img {
  width: 320px;
  height: auto;
  border: 8px solid white;
}

.profile-photo {
  margin-right: 40px;
}

.about-text-container, .profile-photo  {
  display: inline-block;
}



/* Skills */

.skills-languages, .skills-tools {
  float: left;
  text-align: left;
  vertical-align: middle;
}

.skills-languages {
  margin-right: 200px;
}

.skills-page li {
  margin-top: 10px;
  font-size: 30px;
}



/* Projects and Artwork*/

.slider-page-wrapper {
  text-align: center;
}

.arrow {
  border: solid #fff;
  border-width: 0 9px 9px 0;
  padding: 9px;
  vertical-align: middle;
}

.arrow:hover {
  cursor: pointer;
}

.slider-page-prev-arrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.slider-page-next-arrow {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.slider-page-column {
  display: inline-block;
  vertical-align: middle;
}

.slider-page-slide-container {
  position: relative;
  width: 700px;
  height: 500px;
  text-align: center;
  overflow: hidden;
}

.projects-page-slide,
.artwork-page-slide { 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  margin: auto;
  width: 670px;
  height: 470px;
  overflow: hidden;
}

.projects-page-slide img,
.artwork-page-slide img {
  max-width: 670px;
  max-height: 470px;
}

.slider-page-circles {
  margin-top: 20px;
}

.projects-page-circle,
.artwork-page-circle {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 15px;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 0;
}

.projects-page-circle:last-child,
.artwork-page-circle:last-child {
  margin-right: 0;
}

.projects-page-circle:hover,
.artwork-page-circle:hover {
  cursor: pointer;
}

.active-projects-page-circle,
.active-artwork-page-circle {
  background: #fff;
}


/* Contact */

.contact-text-container {
  display: inline-block;
}

.email, .github {
  font-size: 30px;
}

.email {
  margin-bottom: 20px;
}

